.admin-create-order-details {
    margin-top: 5%;
    -webkit-box-shadow: 0px 0px 14px -6px #000000;
    box-shadow: 0px 0px 14px -6px #000000;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-bottom: 10vh;
}

.admin-create-order-header {
    display: flex;
    border-bottom: 3px solid #229100;
}

.admin-create-order-head-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.admin-row-create {
    margin-left: 1vh;
    margin-right: 1vh;
    padding: 2vh;
    
}

.admin-assign-row {
    padding-top: 2vh;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid #d4d4d4;
    /* border-bottom: 2px solid #249c00; */
}

.admin-assign-last-row {
    padding-top: 2vh;
    padding-bottom: 0.5vh;
}

.admin-create-order-h1 {
    margin-top: 4%;
    margin-left: 2vh;

    color: transparent;
    background: #06a72e;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.admin-create-order-contents {
    margin-top: 3%;
}

.admin-assign {
    width: fit-content;
    display: flex;
    padding: 1vh;
    padding-right: 1.5rem;
    border: 1px solid #bdbdbd;
}

.admin-assign > div {
    margin: 1px;
}

.admin-last-row {
    margin-top: 5%;
    text-align: center;
}

