.sidebar {
  flex: 1;
  height: 95vh;
  background-color: rgb(235, 233, 252);
  position: sticky;
  top: 50px;
  overflow: auto;
}

.appName {
  color: rgb(82, 82, 255);
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

.sidebarWrapper {
  padding: 5%;
  color: #555;
  margin-top: 50px;
}

.sidebarMenu {
  margin-bottom: 10%;
}

.sidebarTitle {
  font-size: 22px;
  color: rgb(155, 155, 155);
}

.sidebarList {
  list-style-type: none;
  padding: 3%;
}

.sidebarListItem {
  padding: 3%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(202, 196, 255);
  border-radius: 10px;
}

.sidebarIcon {
  padding-right: 5px;
}


@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}